.nav {
  position: fixed;
  @include flexRowSpaceBetween;
  width: 65%;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: $wh;
  top: -0.45rem;
  &__ul {
    list-style: none;
    @include flexRow;
    &__item {
      @include navLink;
      color: $gray;
      padding: 1.4rem 1.4rem;
    }
    &__item:hover {
      @include navLinkHover;
    }
    &__item-signup {
      color: $red;
    }
    &__item-signup:hover {
      color: $red;
    }
    &__logo {
      color: $red;
      font-size: 1rem;
    }
    &__logo:hover {
      color: red;
      transition: 0.4s;
      border: 0;
      background-color: $wh;
    }
  }
}
