.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/splatters.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 102%;
  width: 100%;
}

.landing__items {
  margin-top: -8rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.landing__items__header {
  font-size: 6rem;
  max-width: 59%;
}

.landing__items__button {
  color: #000000;
  text-decoration: none;
  background-color: #e44232;
  color: white;
  padding: 0.9rem 1.8rem;
  border-radius: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

.landing__items__button:hover {
  background-color: #f54637;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
