// Center Items Vertically

@mixin flexCollumn() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// Centers Items Horizontally

@mixin flexRow() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

// Displays Grid With Optionall Collums

@mixin Grid($collumns, $rowGap, $collumnGap) {
  display: grid;
  grid-template-columns: repeat($collumns, 1fr);
  row-gap: $rowGap;
  column-gap: $rowGap;
}

// Flex Justify-Content: space-bewtween Row -> nav style

@mixin flexRowSpaceBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

// Basic Link

@mixin navLink() {
  color: $bl;
  text-decoration: none;
}

@mixin navLinkHover {
  color: black;
  background-color: rgb(241, 237, 237);
  transition: 0.25s;
  border-bottom: 2px solid $red;
}

// Section Sizing

@mixin secSizing {
  max-width: 75%;
}

// Button Landing

@mixin btnLand {
  background-color: $red;
  color: white;
  padding: 0.9rem 1.8rem;
  border-radius: 1rem;
  font-weight: 600;
  outline: none;
  border: none;
}

@mixin btnLandHover {
  background-color: #f54637;
  transition: 0.4s;
}
